<br>

# Áreas Regionais

In [1]:
import pandas as pd
from open_geodata import geo

from sp_mpsp_divadmin.paths import input_path_tab, output_path_tabs

<br>

## Nomes dos Municípios

Lê o arquivo csv com o nome dos municípios

In [2]:
df_mun = geo.load_dataset('tab.sp.tab_municipio_nome')

df_mun.info()
df_mun.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645 entries, 0 to 644
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_municipio    645 non-null    int64
 1   municipio_nome  645 non-null    object
dtypes: int64(1), object(1)
memory usage: 10.2+ KB

   id_municipio    municipio_nome
0       3500105        Adamantina
1       3500204            Adolfo
2       3500303             Aguaí
3       3500402    Águas da Prata
4       3500501  Águas de Lindóia

<br>

## IDs vinculando Municípios com Áreas Regionais

In [3]:
# Dataframe
df = pd.read_csv(
    input_path_tab / 'tab_ids_municipio.csv',
    usecols=['id_municipio', 'id_pjreg'],
)

# Results
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645 entries, 0 to 644
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_municipio  645 non-null    int64
 1   id_pjreg      645 non-null    int64
dtypes: int64(2)
memory usage: 10.2 KB

   id_municipio  id_pjreg
0       3500105        20
1       3500204        19
2       3500303        23
3       3500402        23
4       3500501        23

In [4]:
# Merge Municípios
df = pd.merge(
    df_mun,
    df,
    how='left',
    left_on='id_municipio',
    right_on='id_municipio',
)

# Results
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645 entries, 0 to 644
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_municipio    645 non-null    int64
 1   municipio_nome  645 non-null    object
 2   id_pjreg        645 non-null    int64
dtypes: int64(2), object(1)
memory usage: 15.2+ KB

   id_municipio    municipio_nome  id_pjreg
0       3500105        Adamantina        20
1       3500204            Adolfo        19
2       3500303             Aguaí        23
3       3500402    Águas da Prata        23
4       3500501  Águas de Lindóia        23

<br>

## Município Áreas Regionais

In [5]:
# Dataframe GAEMAs
df_ar = pd.read_csv(input_path_tab / 'tab_pjregional.csv')
df_ar = df_ar.add_prefix('pjreg_')

# Results
df_ar.info()
df_ar.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pjreg_id    24 non-null     int64
 1   pjreg_nome  24 non-null     object
dtypes: int64(1), object(1)
memory usage: 512.0+ bytes

   pjreg_id                                         pjreg_nome
0         1  Promotoria de Justiça Regional do Meio Ambient...
1         2  Promotoria de Justiça Regional do Meio Ambient...
2         3  Promotoria de Justiça Regional do Meio Ambient...
3         4  Promotoria de Justiça Regional do Meio Ambient...
4         5  Promotoria de Justiça Regional do Meio Ambient...

In [6]:
# Merge GAEMAs
df = pd.merge(
    df,
    df_ar,
    how='left',
    left_on='id_pjreg',
    right_on='pjreg_id',
)

# Drop
df.drop(['pjreg_id'], axis=1, inplace=True, errors='ignore')

# Save
df.to_csv(
    output_path_tabs / 'tab_municipio_pjreg.csv',
    index=False,
)

# Results
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645 entries, 0 to 644
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_municipio    645 non-null    int64
 1   municipio_nome  645 non-null    object
 2   id_pjreg        645 non-null    int64
 3   pjreg_nome      645 non-null    object
dtypes: int64(2), object(2)
memory usage: 20.3+ KB

,id_municipio,municipio_nome,id_pjreg,pjreg_nome
0,3500105,Adamantina,20,Promotoria de Justiça Regional do Meio Ambient...
1,3500204,Adolfo,19,Promotoria de Justiça Regional do Meio Ambient...
2,3500303,Aguaí,23,Promotoria de Justiça Regional do Meio Ambient...
3,3500402,Águas da Prata,23,Promotoria de Justiça Regional do Meio Ambient...
4,3500501,Águas de Lindóia,23,Promotoria de Justiça Regional do Meio Ambient...